nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  width: 100%;
  background-color: #1da1f2;
  position: sticky;
  top: 0;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
  padding: 0px 10px;
  z-index: 100;

  span {
    color: #ffffff;
  }
}

.logo {
  font-family: "Bungee", sans-serif;
  padding: 1.5em;
}

.create-tweet {
  padding-right: 1.5em;
  padding-top: 40px;
  cursor: pointer;

  &:hover {
    .arrow-down {
      visibility: visible;
    }
  }
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #f00;
  margin: 5px auto;
  visibility: hidden;
}

@media only screen and (min-device-width: 768px) {
  nav {
    position: fixed;
    z-index: 1000;
  }
}
