#scroll-btn {
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 10px;
  margin: 30px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #ffbaba;

  &:hover {
    cursor: pointer;
    background-color: #d8000c;
  }
}

#scroll-btn.show {
  display: inline-block;
}
