header.profile {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  justify-content: center;
}

.avatar {
  padding: 5%;
  margin-top: 20px;
  background-color: #1da1f2;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
  border-radius: 20%;
  box-shadow: 3px 8px #9b9b9b;
}

.avatar__name {
  flex-basis: 100%;
  text-align: center;
  /* margin-right: 5%; */
}

@media only screen and (min-device-width: 768px) {
  header.profile {
    float: left;
    justify-content: flex-end;
    width: 33%;
    padding-top: 150px;
    position: fixed;
  }
  .avatar__name {
    text-align: end;
    margin: 2%;
  }
}
