textarea {
  width: 800px;
  height: 120px;
  border: 3px solid #cccccc;
  border-radius: 10px;
  padding: 5px;
  font-family: "Source Sans Pro", sans-serif;
  outline: none;
  resize: none;
  vertical-align: top;
}

textarea:focus {
  box-shadow: 2px 5px #9b9b9b;
}

.new-tweet__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-tweet__div {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.new-tweet__div__counter {
  text-align: right;
  margin: auto 0px;
  font-weight: bold;
}
.red {
  color: #d8000c;
}
.new-tweet__div__btn {
  border: none;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  color: black;
  background-color: #1da1f2;
  border-radius: 10px;
  padding: 10px 40px;
  margin: 10px 10px 10px 0px;
  box-shadow: 1px 3px #adadad;
}
.new-tweet__div__btn:hover {
  box-shadow: 2px 5px #9b9b9b;
  background-color: #1c83c4;
}
